__pycache__
.idea
cookie.txt
*.mp4
*.png
.github
.vscode
script/generator/generator/
script/scraper/scraper/
src/cache/
src/info/
!Excalibur.mp4

node_modules
dist
.DS_Store
.env

out/
public/images/
public/videos/
